html,body{  height: 100%; }
*{  margin: 0;  padding: 0; font-family: century,"メイリオ";  font-style: normal; font-weight: normal;}
a{  text-decoration: none;  }
header,footer{  width: 100%; min-height: 60px; overflow: hidden;}
footer{  background-color: rgba(66,66,66,0.8); }
header{ margin-top: 0;  }
footer address{ width: 60%; text-align: center;  margin: 0 auto; height: 25px; color: #eee; }
header h1{
  height: 80%;
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px auto 0;
  color: rgba(255,255,255,0.3);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
div{width: 60%; margin: 10px auto;}
div ul li img{  float: left;  margin-right: 10px; border-radius: 50%; }
div ul li,p,#hensyu{
  list-style-type: none;
  display: block;
  margin-bottom: 5px;
  padding-left: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  overflow: hidden;
}
#comment,input[type="submit"]{
  height: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
#comment{width: 60%;}
input[type="submit"]{width: 20%;}
input[type="submit"]:hover {background-color: #efefef;}

li{  padding: 10px; text-align: left;  border-radius: 3px;  color: rgba(255,255,255,0.8);}
a:link li,a:visited li{  background-color: rgba(255,100,100,0.5);}
a:hover li{  background-color: rgba(255,100,100,0.8);  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);}

#todos ul li{	text-align:left;	}
#hensyu{  overflow: hidden;  margin-bottom: 120px;  }

/*ボタン*/
#pageback,#pagetop {  margin-top: 0;  margin-bottom: 0;  float: right;  }
#pageback a,#pagetop a {  display: block;  text-align: center;  min-height: 16px;  padding: 6px 10px;}
.btn01 {
    font-size: 70%;
    color: #fff;
    text-decoration: none;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    display: block;
    height: 30px;
    line-height: 20px;
    border-radius: 5px;
    /* ここで動く速度とか設定 */
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.btn01:hover {
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
}
#wrap{  margin-top: 0;  height:100%;  width: 100%;  background:url(pattern.png) 0 0 repeat rgba(100,100,100,0.5);}

/* CSSの条件振り分け*/
/*=====================スマホ用============================================*/
@media screen and (max-width: 640px){
h1,div{ width: 90%; font-size: 120%;}
header,footer{min-height: 60px; margin-top: 0;}
div ul li{  padding-left: 10px;  padding-right: 10px;}
div ul li span{ font-size: 60%;  display: inline-block; float:right;margin-right: virticul-align:bottom; 10px; word-break:break-all;}
div ul li img{height: 50px; margin-left: 0; border-radius: 40%;}
}

/*=====================タブレット用============================================*/
@media screen and (min-width: 640px) {
h1,div{ width: 80%; font-size: 150%;}
div ul li span{ font-size: 70%; display: inline-block;  float: right; margin-right: 10px; word-break:break-all;}
}
/*=====================PC用============================================*/
@media screen and (min-width: 768px) {
body{
  background:url(slide/tukuezima.jpg),
             url(slide/slide1.jpg),
             url(slide/slide2.jpg),
             url(slide/slide3.jpg),
             url(slide/slide4.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment:fixed;
  animation: anime1 60s ease-in-out 1s infinite normal;
}
@keyframes anime1 {
0%,90% { background:url(slide/tukuezima.jpg);}
18% { background:url(slide/slide1.jpg);}
38% { background:url(slide/slide2.jpg);}
58% { background:url(slide/slide3.jpg);}
78% { background:url(slide/slide4.jpg);}
0%,90%,18%,38%,58%,78%{
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment:fixed;}
}
header{margin-top: 0;  background-color: rgba(255,255,255,0.1);  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);}
#hensyu,p,#todos ul li {  background-color: rgba(255,255,255,0.8);}
h1,div{ width: 60%; font-size: 120%;}

div ul li span{ font-size: 80%;  display: block; float: right; margin-right: 10px; word-break:break-all;}

}
body{ position: relative;}
footer{ position: fixed;  left: 0; bottom:0; }

label{
  cursor: pointer;
  cursor: hand;
}
.conte img{max-width: 100%; max-height: 100%;}
.f-left{float: left;}
.f-right{float: right;}
.left{text-align: left;}

.mr0{ margin-right: 0;}
.mr5{ margin-right: 5px;}
.mr10{ margin-right: 10px;}
.mr15{ margin-right: 15px;}


/*=====================埋め込みフォント============================================*/
.jun {font-family: "a-otf-jun-pro";}
.singo{font-family: "a-otf-ud-shin-go-pr6n";}
.ryumin{font-family: "a-otf-ryumin-pr6n";}
.midashi-go{font-family: "a-otf-midashi-go-mb31-pr6n";}
.midashi-mi{font-family: "a-otf-midashi-mi-ma31-pr6n";}
.tk-futura-pt-condensed{font-family: "futura-pt-condensed";}
.tk-futura-pt{font-family: "futura-pt";}


canvas#world{z-index: 0;}